<!DOCTYPE html>
<html>
<head>
    <title>Track Steam Price</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1>Steam Game Price Tracker</h1>

    <form action="/" method="post">
        <input type="text" id="gamename" name="gamename" required placeholder="Enter the game name you want to track">
        <button type="submit">Track</button>
    </form>

    <h1> Track History</h1>
    <div class="tracked_games">
        {% for game in tracked_games %}
            <div class="game">
                <strong>{{ game.gamename }}</strong> - £{{ game.price }}
            </div>
        {% endfor %}
    </div>
</body>
</html>
